
.messageBoxTo {
  background: rgba(200,200,200,0.2);
  padding: 5px;
  margin-bottom:10px;
}

.messageBoxFrom {
  background: rgba(200,100,200,0.2);
  padding: 5px;
  margin-bottom:10px;
  text-align: right;
}

.isFlashed {
  animation-duration: 3s;
  animation-name: flash;
}

@keyframes flash {
  0% {background: rgba(255,0,0,1)}
  80% {background: rgba(255,0,0,0.2)}
  100% {background: rgba(255,0,0,0)}
}